{% load static %}
<div class="header">
    <img class="logo" src="{% static 'images/logo.png' %}" />
    <div class="header-links">
        <a href="#">Home</a>
        <a href="#">Our model</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn-signin">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Logout
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="btn-signin">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Login
        </a>
        {% endif %}
    </div>
</div>
