{% load static %}
<div class="header">
     <a href="{% url 'root'%}">
        <img class="logo" src="{% static 'images/logo.png' %}" />
     </a>
    <div class="header-links">
        <a href="{% url 'root' %}">Home</a>
        <a href="{% url 'root' %}">Our model</a>
        <a href="{% url 'root' %}">Contact</a>
        <a href="{% url 'root' %}">About</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn-signin">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Logout
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="btn-signin">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Login
        </a>
        {% endif %}
    </div>
</div>
